@model IEnumerable<PennyTechManagementSystem.Models.VehicleBusinessType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-custom table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBusinessTypeName)
            </th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleBusinessTypeName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "VehicleBusinessType", new { id=item.VehicleBusinessTypeID })"><i class="fa fa-pencil"></i></a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "VehicleBusinessType", new { id=item.VehicleBusinessTypeID })" onclick="return confirm('Do you really want to delete this item?')"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
