@model IEnumerable<PennyTechManagementSystem.Models.TripBeginModel>

@{
    ViewBag.Title = "IndexEndedList";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}
<table class="table-custom-1 table table-bordered table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPersonContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentName)
            </th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderCompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPersonContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipmentName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "TripBegin", new { id=item.ReferenceID })"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>