@model IEnumerable<PennyTechManagementSystem.Models.NavbarItem>

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                Categories
            </li>
            @foreach (var item in Model)
            {
            <li class="nav-item">
                <a href="@Url.Action(item.ActionName, item.ControllerName, new { id = item.MenuID })" class="nav-link">
                    <i class="@item.Icon"></i> @item.LinkText
                </a>
            </li>
            }
            <li class="nav-title">
                Management 
            </li>
            <li class="nav-item">
                <a href="@Url.Action("VehicleSupplements", "Home")" class="nav-link">
                    <i class="fa fa-gear"></i> Vehicle Supplements
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("EmployeeSupplements", "Home")" class="nav-link">
                    <i class="fa fa-gear"></i> Employee Supplements
                </a>
            </li>
            
        </ul>
    </nav>
</div>